header{
    text-align:left;
    padding: 15px 20px;
    justify-content: space-between;
    display: flex;
    border-radius: 1px 1px 1px 1px;
}
nav{
    padding: 50px 50px;
}
nav a{
    padding: 15px 10px;
    color:#606c38;
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
    transition: 0.7s;
    font-family: Nunito;
    font-size: 18px;
    justify-content: space-between;
    border-radius: 1px 1px 1px 1px;
}
nav a:hover{
    background-color: #e5e5e5;
    border-radius: 5px 5px 5px 5px;
    text-decoration:underline;
}
header img{
  height: 125px;
}
body{
    margin: 0px;
}